:root {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

html {
    height: 100vh;
    background-color: #f0f2f5;
}

.login-container {
    display:grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.left-panel, .right-panel {

    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

.left-panel {
    align-items: end; 
    grid-column: 1 / 2;
}

.right-panel {
    align-items: start; 
    grid-column: 2 / 3;
}

.logo-subtitle-container {
    width: 35em;
}

.login-logo {
    height: 7em;
    width: auto;
}

.subtitle {
    margin: 0;
    padding: 0 1.25em;
    font-size: 1.75em;
    font-weight: 100;
}


.login-form-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2em;
    background-color: white;
    border-radius: 5px;
    margin-left: 5em;
}


.login-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login-form > input {
    width: 23em;
    height: 3em;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    padding: 0 1em;
}

.login-form > input::placeholder {
    color: #90949c;
    font-size: 1.25em;
}

.login-form > button {
    width: auto;
    height: 2em;
    background-color: #1877f2;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 1.25em;
}

.navbar-container {
    position:fixed;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid #e7e9ec;
    box-shadow: 0px 7px 10px -15px #111;   
    top: 0;
    left: 0;
    right: 0;
    padding-right: 1em;
}

.navbar-logo {
    height: 3.25em;
    width: auto;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2em;
}

.menu-container {
    position: fixed;
    top: 4.5em;
    left: 1em;
    right: 98em;
}

.top-menu-list, .bottom-menu-list {
    padding-left: 0em;
    list-style: none;
}

.top-menu-list {
    border-bottom: 1px solid #d0d2d6;
}

.menu-item {
    padding-bottom: 1em;
    font-size: 1em;
}

.user-list-container {
    position: fixed;
    top: 5.5em;
    left: 92.5em;
    right: 0;

}

.contacts-header, .no-contacts{
    margin:0;
    padding-left: 2.25em;
    font-size: 1em;
}

.no-contacts {
    padding-top: 1em;
}

.user-list {
    list-style: none;
}

.user-list-item {
    display:flex;
    align-items: center;
    gap: 1em;
    padding-bottom: 1em;



}

.feed-container {
    background-color: #f0f2f5;
    height: 100vh;
    padding-top: 5em;
}

.feed-center-panel {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feed-posts {
    margin: 15px 0;
}

.make-a-post-container, .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 40em;
    height: 6em;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 1em;

}

.make-a-post-container > form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.user-text-post {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.5em;
}

.user-text-input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    background-color: #f0f2f5;
    padding: 0 1em;
}

.post {
    margin-bottom: 15px;
    height: auto;
    display:flex;
    flex-direction:column;
}

.post-header {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.post-author-image {
    clip-path: circle();
    width: 2.5em;
}

.post-text {
    width: 100%;
}

.post-image {
    width: 100%;
    height: auto;
}
